-i https://pypi.org/simple/
apistar==0.6.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
h11==0.12.0
httptools==0.1.1
idna==2.10
jinja2==2.11.3
markupsafe==1.1.1
pyyaml==5.4
requests==2.25.1
starlette==0.3.6
urllib3==1.26.4
uvicorn==0.3.12
uvloop==0.15.1
websockets==8.1
